engine-strict=true
side-effects-cache=true

# Allow build scripts for these packages
allowedDeprecatedVersions[inflight]=*
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=svelte-preprocess
